@model SalesHelper.Models.InterfaceModels.QuotationFullViewInterface
<style>
    .AvatarMedia {
        align-items: center;
    }
</style>
<div class="content-wrapper">
    <form asp-controller="Quotations" asp-action="CabinetQuotationAdditionalInformation" method="post" enctype="multipart/form-data">
        @* hidden fields *@
        <div class="hidden">
            <input asp-for="CabinetQuotation.Id" value="@Model.CabinetQuotation.Id" />
            <input asp-for="CabinetQuotation.CustomerId" value="@Model.CabinetQuotation.CustomerId" />
            <input asp-for="CabinetQuotation.Name" value="@Model.CabinetQuotation.Name" />
            <input asp-for="CabinetQuotation.VendorId" value="@Model.CabinetQuotation.VendorId" />
            <input asp-for="CabinetQuotation.Construction" value="@Model.CabinetQuotation.Construction" />
            <input asp-for="CabinetQuotation.BoxMaterials" value="@Model.CabinetQuotation.BoxMaterials" />
            <input asp-for="CabinetQuotation.WoodSpeciesForOneColorDesign" value="@Model.CabinetQuotation.WoodSpeciesForOneColorDesign" />
            <input asp-for="CabinetQuotation.DoorStyleForOneColorDesign" value="@Model.CabinetQuotation.DoorStyleForOneColorDesign" />
            <input asp-for="CabinetQuotation.CabinetFinishForOneColorDesign" value="@Model.CabinetQuotation.CabinetFinishForOneColorDesign" />
            <input asp-for="CabinetQuotation.UpperWoodSpeciesForMultipleColorDesign" value="@Model.CabinetQuotation.UpperWoodSpeciesForMultipleColorDesign" />
            <input asp-for="CabinetQuotation.LowerWoodSpeciesForMultipleColorDesign" value="@Model.CabinetQuotation.LowerWoodSpeciesForMultipleColorDesign" />
            <input asp-for="CabinetQuotation.IslandWoodSpeciesForMultipleColorDesign" value="@Model.CabinetQuotation.IslandWoodSpeciesForMultipleColorDesign" />
            <input asp-for="CabinetQuotation.UpperFinishForMultipleColorDesign" value="@Model.CabinetQuotation.UpperFinishForMultipleColorDesign" />
            <input asp-for="CabinetQuotation.LowerFinishForMultipleColorDesign" value="@Model.CabinetQuotation.LowerFinishForMultipleColorDesign" />
            <input asp-for="CabinetQuotation.IslandFinishForMultipleColorDesign" value="@Model.CabinetQuotation.IslandFinishForMultipleColorDesign" />
        </div>

        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Cabinet Quotation Details</h3>
            </div>
        </div>

        <div class="content-detached content-left">
            <div class="content-body">
                <div class="media p-1 AvatarMedia">
                    <div class="media-left pr-1">
                        <span class="avatar avatar-online avatar-xl rounded-circle">
                            <img src="/images/portrait/small/avatar-s-1.png" alt="avatar">
                        </span>
                    </div>
                    <div class="media-body media-middle">
                        <a class="text-primary" asp-controller="Customers" asp-action="CustomerDetailedView" asp-route-id="@Model.CabinetQuotation.CustomerId">
                            <h5 class="media-heading">@Model.CabinetQuotation.CustomerIdFk.FirstName @Model.CabinetQuotation.CustomerIdFk.LastName</h5>
                        </a>
                    </div>
                </div>
                <section class="row  match-height">
                    <div class="col-xl-3 col-lg-12 col-md-12">
                        <div class="card" style="height: 320.5px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="card-title mt-0 text-primary"><span><b>Quote #: @Model.CabinetQuotation.Id</b></span></h2>
                                    <p class="card-text"><b>Customer Name:</b> @Model.CabinetQuotation.CustomerIdFk.FirstName @Model.CabinetQuotation.CustomerIdFk.LastName</p>
                                    <p class="card-text"><b>Quote Name:</b> @Model.CabinetQuotation.Name</p>
                                    <p class="card-text"><b>Cabinetry:</b> @Model.CabinetQuotation.VendorIdFk.CompanyName </p>
                                    <p class="card-text"><b>Construction:</b> @Model.CabinetQuotation.Construction </p>
                                    <p class="card-text"><b>Box Materials:</b> @Model.CabinetQuotation.BoxMaterials </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.CabinetQuotation.WoodSpeciesForOneColorDesign != null && Model.CabinetQuotation.WoodSpeciesForOneColorDesign != "") 
                    {
                    // it means it is one color design
                        <div class="col-xl-3 col-lg-12 col-md-12">
                            <div class="card" style="height: 320.5px;">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h2 class="card-title text-primary mt-0"><span><b>One Color Design</b></span></h2>
                                        <p class="card-text"><b>Wood Species:</b> @Model.CabinetQuotation.WoodSpeciesForOneColorDesign </p>
                                        <p class="card-text"><b>Door Style:</b> @Model.CabinetQuotation.DoorStyleForOneColorDesign </p>
                                        <p class="card-text"><b>Cabinet Finish:</b> @Model.CabinetQuotation.CabinetFinishForOneColorDesign </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                    // it means it is multiple color design
                        <div class="col-xl-3 col-lg-12 col-md-12">
                            <div class="card" style="height: 320.5px;">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h2 class="card-title text-primary mt-0"><span><b>Upper Cabinet Details</b></span></h2>
                                        <p class="card-text"><b>Upper Wood Species:</b> @Model.CabinetQuotation.UpperWoodSpeciesForMultipleColorDesign </p>
                                        <p class="card-text"><b>Upper Finish:</b> @Model.CabinetQuotation.UpperFinishForMultipleColorDesign </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-12 col-md-12">
                            <div class="card" style="height: 320.5px;">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h2 class="card-title text-primary mt-0"><span><b>Lower Cabinet Details</b></span></h2>
                                        <p class="card-text"><b>Lower Wood Species:</b> @Model.CabinetQuotation.LowerWoodSpeciesForMultipleColorDesign </p>
                                        <p class="card-text"><b>Lower Finish:</b> @Model.CabinetQuotation.LowerFinishForMultipleColorDesign </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-12 col-md-12">
                            <div class="card" style="height: 320.5px;">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h2 class="card-title text-primary mt-0"><span><b>Island Cabinet Details</b></span></h2>
                                        <p class="card-text"><b>Island Wood Sepcies:</b> @Model.CabinetQuotation.IslandWoodSpeciesForMultipleColorDesign </p>
                                        <p class="card-text"><b>Island Finish:</b> @Model.CabinetQuotation.IslandFinishForMultipleColorDesign </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </section>

                <section class="row  match-height">
                    <div class="col-xl-3 col-lg-12 col-md-12">
                        <div class="card" style="height: 389.2px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="card-title text-primary mt-0"><span><b>Appliance Information</b></span></h2>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <textarea asp-for="CabinetQuotation.ApplianceInformation" rows="14" class="form-control square" placeholder="Describe Appliance Information"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-12 col-md-12">
                        <div class="card" style="height: 389.2px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="card-title text-primary mt-0"><span><b>Hood Information</b></span></h2>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <textarea asp-for="CabinetQuotation.HoodInformation" rows="14" class="form-control square" placeholder="Describe Hood Information"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-12 col-md-12">
                        <div class="card" style="height: 389.2px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="card-title text-primary mt-0"><span><b>Sink Infomation</b></span></h2>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <textarea asp-for="CabinetQuotation.SinkInformation" rows="14" class="form-control square" placeholder="Describe Sink Information"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-12 col-md-12">
                        <div class="card" style="height: 389.2px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="card-title text-primary mt-0"><span><b>Attach Documents</b></span></h2>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <textarea asp-for="CabinetQuotation.CommentsOnDocumentFiles" rows="12" class="form-control square" placeholder="Comments on attached documents"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <fieldset>
                                                <div class="input-group input-group-xs">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="feather icon-paperclip"></i></span>
                                                    </div>
                                                    <input asp-for="DocumentFile" type="file" class="form-control" />
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <div class="form-actions text-center mb-5">
                    <button onclick="javascript:history.goback()" class="width-150 btn btn-primary"><i class="feather icon-arrow-left"></i> Previous</button>
                    <button type="submit" class="width-150 btn btn-outline-primary"><i class="feather icon-check-square-o"></i> Save & Close</button>
                    <button type="submit" class="width-150 btn btn-primary">Next <i class="feather icon-arrow-right"></i></button>
                </div>
            </div>
        </div>



        <div class="sidebar-detached sidebar-right">
            <div class="sidebar">
                <div class="project-sidebar-content">
                    <div class="card mb-1">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <h2 class="card-title mt-0 text-primary"><span><b>Quote Price</b></span></h2>
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Cabinet Price</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input asp-for="CabinetQuotation.CabinetPrice" type="number" class="form-control" placeholder="Cabinet Price">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Delivery Charges</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input asp-for="CabinetQuotation.DeliveryCharge" type="number" class="form-control" placeholder="Delivery Charges">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Installation Fee</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input asp-for="CabinetQuotation.InstallationFee" type="number" class="form-control" placeholder="Installation Fee">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tax</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input asp-for="CabinetQuotation.Tax" type="number" class="form-control" placeholder="Tax">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><b>Vendor Price. Internal use only</b></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input asp-for="CabinetQuotation.VendorPrice" type="number" class="form-control" placeholder="Vendor Price">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Comment on price</label>
                                        <textarea asp-for="CabinetQuotation.CommentOnPrice" rows="9" class="form-control square" placeholder="Comments on quotation price"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>