@model SalesHelper.Models.InterfaceModels.CabinetQuoteInterface
@inject SalesHelper.Data.ApplicationDbContext _context
@{
    var quoteDocuments = _context.QuotationDocuments.Where(a => a.QuotationId == Model.Id).ToList();
    var itemsList = _context.QuotationItems.Where(a => a.QuotationId == Model.Id).ToList();
    var index = 1;
}

<div class="content-wrapper">

    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Cabinet Quotation Details</h3>
        </div>
    </div>

    <div class="content-detached content-left">
        <div class="content-body">

            <div class="row row-cols-1 row-cols-md-2 match-height">
                <div class="col">
                    <div class="card" style="height: 320.5px;">
                        <div class="card-content">
                            <div class="card-body">
                                <h2 class="card-title mt-0 text-primary"><span><b>Quote #: @Model.Id</b></span></h2>
                                <p class="card-text">
                                    <b>Customer Name:</b>
                                    <a class="text-primary" asp-controller="Customers" asp-action="CustomerDetailedView" asp-route-id="@Model.CustomerId">
                                        @Model.CustomerIdFk.FirstName @Model.CustomerIdFk.LastName
                                    </a>
                                </p>
                                <p class="card-text"><b>Quote Name:</b> @Model.Name</p>
                                <p class="card-text"><b>Cabinetry:</b> @Model.VendorIdFk.CompanyName </p>
                                <p class="card-text"><b>Construction:</b> @Model.Construction </p>
                                <p class="card-text"><b>Box Materials:</b> @Model.BoxMaterials </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="height: 320.5px;">
                        <div class="card-content">
                            <div class="card-body">
                                @if (Model.WoodSpeciesForOneColorDesign != null && Model.WoodSpeciesForOneColorDesign != "")
                                {
                                    <h2 class="card-title text-primary mt-0"><span><b>Cabinet Details</b> (One Color)</span></h2>
                                    <p class="card-text"><b>Door Style:</b> @Model.DoorStyleForOneColorDesign </p>
                                    <p class="card-text"><b>Wood Species:</b> @Model.WoodSpeciesForOneColorDesign </p>
                                    <p class="card-text"><b>Cabinet Finish:</b> @Model.CabinetFinishForOneColorDesign </p>
                                }
                                @if (Model.UpperWoodSpeciesForMultipleColorDesign != null && Model.UpperWoodSpeciesForMultipleColorDesign != "")
                                {
                                    <h2 class="card-title text-primary mt-0"><span><b>Cabinet Details</b> (Multi Color)</span></h2>
                                    <p class="card-text"><b>Door Style:</b> @Model.DoorStyleForMultipleColorDesign </p>
                                    <p class="card-text"><b>Upper Wood Species:</b> @Model.UpperWoodSpeciesForMultipleColorDesign </p>
                                    <p class="card-text"><b>Upper Finish:</b> @Model.UpperFinishForMultipleColorDesign </p>
                                    <p class="card-text"><b>Lower Wood Species:</b> @Model.LowerWoodSpeciesForMultipleColorDesign </p>
                                    <p class="card-text"><b>Lower Finish:</b> @Model.LowerFinishForMultipleColorDesign </p>
                                    <p class="card-text"><b>Island Wood Sepcies:</b> @Model.IslandWoodSpeciesForMultipleColorDesign </p>
                                    <p class="card-text"><b>Island Finish:</b> @Model.IslandFinishForMultipleColorDesign </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="height: 389.2px;">
                        <div class="card-content">
                            <div class="card-body">
                                <h2 class="card-title text-primary mt-0"><span><b>Additional Information</b></span></h2>
                                <p class="card-text"><b>Refrigerator:</b> @Html.Raw(Model.Refrigerator) </p>
                                <p class="card-text"><b>Stove Or Cooktop:</b> @Html.Raw(Model.StoveAndCooktop) </p>
                                <p class="card-text"><b>Dishwasher:</b> @Html.Raw(Model.Dishwasher) </p>
                                <p class="card-text"><b>Hood:</b> @Html.Raw(Model.Hood) </p>
                                <p class="card-text"><b>Built-in Oven:</b> @Html.Raw(Model.BuiltInOven) </p>
                                <p class="card-text"><b>Built-in Drawer Microwave:</b> @Html.Raw(Model.BuiltInDrawerMicrowave) </p>
                                <p class="card-text"><b>Sink:</b> @Html.Raw(Model.Sink) </p>
                                <p class="card-text"><b>Comments:</b> @Html.Raw(Model.Comments) </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="height: 389.2px;">
                        <div class="card-content">
                            <div class="card-body">
                                <h2 class="card-title text-primary mt-0"><span><b>Attached Documents</b></span></h2>
                                <div class="form-body">
                                    @if (quoteDocuments.Count > 0)
                                    {
                                        @foreach (var item in quoteDocuments)
                                        {
                                            <p style="margin-bottom:1px;">
                                                <a class="text-warning" asp-controller="Quotations" asp-action="ShowCabinetDcoument" asp-route-filePath="@item.FilePath" target="_blank">
                                                    @item.DocumentName!.Substring(item.DocumentName.IndexOf("_") + 1)
                                                </a>
                                            </p>
                                        }
                                    }
                                    else
                                    {
                                        <p class="card-text text-danger">No documents attached.</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            @if (itemsList.Count > 0)
            {
                <div class="card">
                    <div class="card-content">
                        <div id="itemListWrap" role="tablist" aria-multiselectable="true">
                            <div class="card accordion collapse-icon panel mb-0 box-shadow-0 border-0">

                                <div id="itemListHeading" role="tab" class="card-header card-collapse-border" data-toggle="collapse" href="#itemListAccordion" aria-expanded="false" aria-controls="itemListAccordion">
                                    <h4 class="card-title text-primary">
                                        Attached Cabinet Items
                                    </h4>
                                </div>
                                <div id="itemListAccordion" role="tabpanel" data-parent="#itemListWrap" aria-labelledby="itemListHeading" class="collapse" aria-expanded="false">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Door Style</th>
                                                        <th>Item</th>
                                                        <th>Description</th>
                                                        <th>Hinge</th>
                                                        <th>Finish</th>
                                                        <th>Qty</th>
                                                        <th>Price</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in itemsList)
                                                    {
                                                        <tr>
                                                            <td>@index</td>
                                                            <td>@item.DoorStyleName</td>
                                                            <td>@item.Item</td>
                                                            <td>@item.Description</td>
                                                            <td>@item.Hinge</td>
                                                            <td>@item.Finish</td>
                                                            <td>@item.Quantity</td>
                                                            <td>$@item.Price</td>
                                                            <td>$@(item.Quantity * item.Price)</td>
                                                        </tr>
                                                        index++;
                                                    }
                                                    <tr>
                                                        <td colspan="8" class="text-right"><b>Total Price:</b></td>
                                                        <td><b>$@itemsList.Sum(a => a.Price * a.Quantity)</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="form-actions text-center mb-5">
                <a asp-controller="Quotations" asp-action="EditCabinetQuotation" asp-route-id="@Model.Id" class="width-150 btn btn-primary"><i class="fa fa-edit"></i> Edit Quote</a>
                <a asp-controller="Quotations" asp-action="AttachCabinetItems" asp-route-id="@Model.Id" class="width-150 btn btn-primary"><i class="feather icon-paperclip"></i> Attach Items</a>
            </div>
        </div>
    </div>



    <div class="sidebar-detached sidebar-right">
        <div class="sidebar">
            <div class="project-sidebar-content">
                <div class="card mb-1">
                    <div class="card-content collapse show">
                        <div class="card-body height-700">
                            <h2 class="card-title mt-0 text-primary"><span><b>Quote Price</b></span></h2>
                            <div class="form-body">
                                <div class="form-group">
                                    <p class="card-text"><b>Cabinet Price:</b> $@Model.CabinetPrice </p>
                                    <p class="card-text"><b>Delivery Charges:</b> $@Model.DeliveryCharge </p>
                                    <p class="card-text"><b>Installation Fee:</b> $@Model.InstallationFee </p>
                                    <p class="card-text"><b>Tax:</b> $@Model.Tax </p>
                                    <hr />
                                    @{
                                        var totalPrice = Model.CabinetPrice + Model.DeliveryCharge + Model.InstallationFee + Model.Tax;
                                    }
                                    <p class="card-text"><b>Total Price:</b> $@totalPrice </p>
                                    <hr />
                                    <p class="card-text"><b>Comments:</b> @Model.CommentOnPrice</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>