@model SalesHelper.Models.InterfaceModels.CabinetQuoteInterface
@inject SalesHelper.Data.ApplicationDbContext _context
@{
    var quoteDocuments = _context.QuotationDocuments.Where(a => a.QuotationId == Model.Id).ToList();
    var itemsList = _context.QuotationItems.Where(a => a.QuotationId == Model.Id).ToList();
    var index = 1;
}

<style>
    .table.table-sm td, .table.table-sm th {
        padding-left: 5px;
        padding-right: 5px;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; /* Ensure the card content fills the entire card height */
    }
</style>

<div class="content-wrapper">

    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Cabinet Quotation Details</h3>
        </div>
    </div>

    <div class="content-detached content-left">
        <div class="content-body">

            <div class="row row-cols-1 row-cols-md-2 match-height">
                <div class="col">
                    <div class="card" style="height: 320.5px;">
                        <div class="card-content">
                            <div class="card-body">
                                <h2 class="card-title mt-0 text-primary"><span><b>Quote #: @Model.Id</b></span></h2>
                                <p class="card-text">
                                    <b>Customer Name:</b>
                                    <a class="text-primary" asp-controller="Customers" asp-action="CustomerDetailedView" asp-route-id="@Model.CustomerId">
                                        @Model.CustomerIdFk.FirstName @Model.CustomerIdFk.LastName
                                    </a>
                                </p>
                                <p class="card-text"><b>Quote Name:</b> @Model.Name</p>
                                <p class="card-text"><b>Cabinetry:</b> @Model.VendorIdFk.CompanyName </p>
                                <p class="card-text"><b>Construction:</b> @Model.Construction </p>
                                <p class="card-text"><b>Box Materials:</b> @Model.BoxMaterials </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="height: 320.5px;">
                        <div class="card-content">
                            <div class="card-body">
                                <div @(Model.isOneColorDesign == true ? "" : "hidden")>
                                    <h2 class="card-title text-primary mt-0"><span><b>Cabinet Details</b> (One Color)</span></h2>
                                    <p class="card-text"><b>Door Style:</b> @Model.DoorStyleForOneColorDesign </p>
                                    <p class="card-text"><b>Wood Species:</b> @Model.WoodSpeciesForOneColorDesign </p>
                                    <p class="card-text"><b>Cabinet Finish:</b> @Model.CabinetFinishForOneColorDesign </p>
                                </div>
                                <div @(Model.isOneColorDesign == false ? "" : "hidden")>
                                    <h2 class="card-title text-primary mt-0"><span><b>Cabinet Details</b> (Multi Color)</span></h2>

                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Section</th>
                                                <th>Wood Species</th>
                                                <th>Door Style</th>
                                                <th>Finish</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">Upper</td>
                                                <td>@Model.UpperWoodSpeciesForMultipleColorDesign</td>
                                                <td>@Model.UpperDoorStyleForMultipleColorDesign</td>
                                                <td>@Model.UpperFinishForMultipleColorDesign</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Lower</td>
                                                <td>@Model.LowerWoodSpeciesForMultipleColorDesign</td>
                                                <td>@Model.LowerDoorStyleForMultipleColorDesign</td>
                                                <td>@Model.LowerFinishForMultipleColorDesign</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Island</td>
                                                <td>@Model.IslandWoodSpeciesForMultipleColorDesign</td>
                                                <td>@Model.IslandDoorStyleForMultipleColorDesign</td>
                                                <td>@Model.IslandFinishForMultipleColorDesign</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <p class="card-text"><b>Comments:</b> @Model.CommentsOnMultiColorDesign </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="height: 389.2px;">
                        <div class="card-content">
                            <div class="card-body">
                                <h2 class="card-title text-primary mt-0"><span><b>Additional Information</b></span></h2>
                                <p class="card-text"><b>Refrigerator:</b> @Html.Raw(Model.Refrigerator) </p>
                                <p class="card-text"><b>Stove Or Cooktop:</b> @Html.Raw(Model.StoveAndCooktop) </p>
                                <p class="card-text"><b>Dishwasher:</b> @Html.Raw(Model.Dishwasher) </p>
                                <p class="card-text"><b>Hood:</b> @Html.Raw(Model.Hood) </p>
                                <p class="card-text"><b>Built-in Oven:</b> @Html.Raw(Model.BuiltInOven) </p>
                                <p class="card-text"><b>Built-in Drawer Microwave:</b> @Html.Raw(Model.BuiltInDrawerMicrowave) </p>
                                <p class="card-text"><b>Sink:</b> @Html.Raw(Model.Sink) </p>
                                <p class="card-text"><b>Comments:</b> @Html.Raw(Model.Comments) </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="height: 389.2px;">
                        <div class="card-content d-flex flex-column">
                            <div class="card-body">
                                <h2 class="card-title text-primary mt-0"><span><b>Attached Documents</b></span></h2>
                                <div class="form-body">
                                    @if (quoteDocuments.Count > 0)
                                    {
                                        @foreach (var item in quoteDocuments)
                                        {
                                            <p style="margin-bottom:1px;">
                                                <a class="text-warning" asp-controller="Quotations" asp-action="ShowCabinetDcoument" asp-route-filePath="@item.FilePath" target="_blank">
                                                    <i class="feather icon-paperclip"></i>
                                                    @item.DocumentName!.Substring(item.DocumentName.IndexOf("_") + 1)
                                                </a>
                                                <i title="Delete Attachment" class='feather icon-x' style="cursor:pointer" onclick="DeleteAttachedDocument(@item.DocumentId)"></i>
                                            </p>
                                        }
                                    }
                                    else
                                    {
                                        <p class="card-text text-danger">No documents attached.</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer mt-auto">
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-backdrop="true" data-target="#UploadQuoteDocuments">
                                <i class="fa fa-upload"></i> Upload Documents
                            </button>
                        </div>
                    </div>
                </div>

            </div>


            @if (itemsList.Count > 0)
            {
                <div class="card">
                    <div class="card-content">
                        <div id="itemListWrap" role="tablist" aria-multiselectable="true">
                            <div class="card accordion collapse-icon panel mb-0 box-shadow-0 border-0">

                                <div id="itemListHeading" role="tab" class="card-header card-collapse-border" data-toggle="collapse" href="#itemListAccordion" aria-expanded="false" aria-controls="itemListAccordion">
                                    <a asp-controller="Quotations" asp-action="AttachCabinetItems" asp-route-id="@Model.Id" class="btn btn-primary btn-sm float-right mr-2">
                                        <i class="feather icon-paperclip"></i> @(itemsList.Count > 0 ? "Edit Attached Items" : "Attach Cabinet Items")
                                    </a>
                                    <h4 class="card-title text-primary">
                                        Attached Cabinet Items
                                    </h4>
                                </div>
                                <div id="itemListAccordion" role="tabpanel" data-parent="#itemListWrap" aria-labelledby="itemListHeading" class="collapse" aria-expanded="false">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Qty</th>
                                                        <th>Item</th>
                                                        <th>Description</th>
                                                        <th>Door Style</th>
                                                        <th>Hinge</th>
                                                        <th>Finish</th>
                                                        <th>Price</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in itemsList)
                                                    {
                                                        <tr>
                                                            <td>@index</td>
                                                            <td>@item.Quantity</td>
                                                            <td>@item.Item</td>
                                                            <td>@item.Description</td>
                                                            <td>@item.DoorStyleName</td>
                                                            <td>@item.Hinge</td>
                                                            <td>@item.Finish</td>
                                                            <td>$@item.Price</td>
                                                            <td>$@(item.Quantity * item.Price)</td>
                                                        </tr>
                                                        index++;
                                                    }
                                                    <tr>
                                                        <td colspan="8" class="text-right"><b>Total Price:</b></td>
                                                        <td><b>$@itemsList.Sum(a => a.Price * a.Quantity)</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="form-actions text-center mb-5">
                <a asp-controller="Quotations" asp-action="CabinetQuotationDetailedView" asp-route-id="@Model.Id" class="width-150 btn btn-primary">
                    <i class="feather icon-arrow-left"></i> Previous
                </a>
                <a asp-controller="Quotations" asp-action="EditCabinetQuotation" asp-route-id="@Model.Id" class="width-150 btn btn-outline-primary">
                    <i class="fa fa-edit"></i> Edit Quote
                </a>
                @if (itemsList.Count == 0)
                {
                    <a asp-controller="Quotations" asp-action="AttachCabinetItems" asp-route-id="@Model.Id" class="width-180 btn btn-primary">
                        <i class="feather icon-paperclip"></i> Attach Cabinet Items
                    </a>
                }
                <a asp-controller="Quotations" asp-action="CabinetQuotePrintPreview" asp-route-id="@Model.Id" class="width-150 btn btn-primary">
                    <i class="feather icon-file-text"></i> Details View
                </a>
                <a asp-controller="Quotations" asp-action="RequestEstimateView" asp-route-id="@Model.Id" class="width-180 btn btn-success">
                    <i class="feather icon-mail"></i> Request Estimate
                </a>
            </div>
        </div>
    </div>



    <div class="sidebar-detached sidebar-right">
        <div class="sidebar">
            <div class="project-sidebar-content">
                <div class="card mb-1">
                    <div class="card-content collapse show">
                        <div class="card-body height-700">
                            <h2 class="card-title mt-0 text-primary"><span><b>Quote Price</b></span></h2>
                            <div class="form-body">
                                <div class="form-group">
                                    <p class="card-text"><b>Cabinet Price:</b> $@Model.CabinetPrice </p>
                                    <p class="card-text"><b>Delivery Charges:</b> $@Model.DeliveryCharge </p>
                                    <p class="card-text"><b>Installation Fee:</b> $@Model.InstallationFee </p>
                                    <p class="card-text"><b>Tax:</b> $@Model.Tax </p>
                                    <hr />
                                    @{
                                        var totalPrice = Model.CabinetPrice + Model.DeliveryCharge + Model.InstallationFee + Model.Tax;
                                    }
                                    <p class="card-text"><b>Total Price:</b> $@totalPrice </p>
                                    <hr />
                                    <p class="card-text"><b>Vendor Price:</b> $@Model.VendorPrice (Internal use only)</p>
                                    <hr />
                                    <p class="card-text"><b>Comments:</b> @Model.CommentOnPrice</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* Modal for uploading quotation documents *@
<div class="modal fade text-left" id="UploadQuoteDocuments" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title form-section"><i class="feather icon-user-plus"></i> Upload Quotation Documents</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Quotations" asp-action="UploadQuotationDocuments" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input hidden asp-for="Id" />
                    <label>Upload File</label>
                    <div class="form-group">
                        <input asp-for="DocumentFiles" type="file" multiple class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function DeleteAttachedDocument(documentId) {
        if (confirm("Are you sure you want to delete this document?")) {
            window.location.href = "/Quotations/DeleteAttachedDocument?documentId=" + documentId;
        }
    }
</script>