@model SalesHelper.Models.CabinetQuotation
@inject SalesHelper.Data.ApplicationDbContext _context
@{
    var quoteDocuments = _context.QuotationDocuments.Where(a => a.QuotationId == Model.Id).ToList();
    var itemsList = _context.QuotationItems.Where(a => a.QuotationId == Model.Id).ToList();
    var index = 1;
}

<div class="content-wrapper">

    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Cabinet Quotation Details</h3>
        </div>
    </div>

    <div class="content-detached content-left">
        <div class="content-body">

            <div class="row row-cols-1 row-cols-md-4 match-height">
                <div class="col">
                    <div class="card" style="height: 320.5px;">
                        <div class="card-content">
                            <div class="card-body">
                                <h2 class="card-title mt-0 text-primary"><span><b>Quote #: @Model.Id</b></span></h2>
                                <p class="card-text">
                                    <b>Customer Name:</b>
                                    <a class="text-primary" asp-controller="Customers" asp-action="CustomerDetailedView" asp-route-id="@Model.CustomerId">
                                        @Model.CustomerIdFk.FirstName @Model.CustomerIdFk.LastName
                                    </a>
                                </p>
                                <p class="card-text"><b>Quote Name:</b> @Model.Name</p>
                                <p class="card-text"><b>Cabinetry:</b> @Model.VendorIdFk.CompanyName </p>
                                <p class="card-text"><b>Construction:</b> @Model.Construction </p>
                                <p class="card-text"><b>Box Materials:</b> @Model.BoxMaterials </p>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.WoodSpeciesForOneColorDesign != "" && Model.WoodSpeciesForOneColorDesign != null)
                {
                // it means it is one color design
                    <div class="col">
                        <div class="card" style="height: 320.5px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="card-title text-primary mt-0"><span><b>One Color Design</b></span></h2>
                                    <p class="card-text"><b>Wood Species:</b> @Model.WoodSpeciesForOneColorDesign </p>
                                    <p class="card-text"><b>Door Style:</b> @Model.DoorStyleForOneColorDesign </p>
                                    <p class="card-text"><b>Cabinet Finish:</b> @Model.CabinetFinishForOneColorDesign </p>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                // it means it is multiple color design
                    <div class="col">
                        <div class="card" style="height: 320.5px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="card-title text-primary mt-0"><span><b>Upper Cabinet Details</b></span></h2>
                                    <p class="card-text"><b>Upper Wood Species:</b> @Model.UpperWoodSpeciesForMultipleColorDesign </p>
                                    <p class="card-text"><b>Upper Finish:</b> @Model.UpperFinishForMultipleColorDesign </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="height: 320.5px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="card-title text-primary mt-0"><span><b>Lower Cabinet Details</b></span></h2>
                                    <p class="card-text"><b>Lower Wood Species:</b> @Model.LowerWoodSpeciesForMultipleColorDesign </p>
                                    <p class="card-text"><b>Lower Finish:</b> @Model.LowerFinishForMultipleColorDesign </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="height: 320.5px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="card-title text-primary mt-0"><span><b>Island Cabinet Details</b></span></h2>
                                    <p class="card-text"><b>Island Wood Sepcies:</b> @Model.IslandWoodSpeciesForMultipleColorDesign </p>
                                    <p class="card-text"><b>Island Finish:</b> @Model.IslandFinishForMultipleColorDesign </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col">
                    <div class="card" style="height: 389.2px;">
                        <div class="card-content">
                            <div class="card-body">
                                <h2 class="card-title text-primary mt-0"><span><b>Appliance Information</b></span></h2>
                                <div class="form-body">
                                    <div class="form-group">
                                        @Model.ApplianceInformation
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="height: 389.2px;">
                        <div class="card-content">
                            <div class="card-body">
                                <h2 class="card-title text-primary mt-0"><span><b>Hood Information</b></span></h2>
                                <div class="form-body">
                                    <div class="form-group">
                                        @Model.HoodInformation
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="height: 389.2px;">
                        <div class="card-content">
                            <div class="card-body">
                                <h2 class="card-title text-primary mt-0"><span><b>Sink Infomation</b></span></h2>
                                <div class="form-body">
                                    <div class="form-group">
                                        @Model.SinkInformation
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="height: 389.2px;">
                        <div class="card-content">
                            <div class="card-body">
                                <h2 class="card-title text-primary mt-0"><span><b>Attached Documents</b></span></h2>
                                <div class="form-body">
                                    @if (quoteDocuments.Count > 0)
                                    {
                                        @foreach (var item in quoteDocuments)
                                        {
                                            <p style="margin-bottom:1px;">
                                                <a class="text-warning" href="/Vendors/ShowVendorFile?filePath=@item.FilePath" target="_blank">
                                                    @item.DocumentName!.Substring(item.DocumentName.IndexOf("_") + 1)
                                                </a>
                                            </p>
                                        }
                                    }
                                    else
                                    {
                                        <p class="card-text text-danger">No documents attached.</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            @if (itemsList.Count > 0)
            {
                <div class="card">
                    <div class="card-content">
                        <div id="itemListWrap" role="tablist" aria-multiselectable="true">
                            <div class="card accordion collapse-icon panel mb-0 box-shadow-0 border-0">

                                <div id="itemListHeading" role="tab" class="card-header card-collapse-border" data-toggle="collapse" href="#itemListAccordion" aria-expanded="false" aria-controls="itemListAccordion">
                                    <h4 class="card-title text-primary">
                                        Attached Cabinet Items
                                    </h4>
                                </div>
                                <div id="itemListAccordion" role="tabpanel" data-parent="#itemListWrap" aria-labelledby="itemListHeading" class="collapse" aria-expanded="false">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Qty</th>
                                                        <th>Item</th>
                                                        <th>Description</th>
                                                        <th>Hinge</th>
                                                        <th>Finish</th>
                                                        <th>Price</th>
                                                        @* <th>Action</th> *@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in itemsList)
                                                    {
                                                        <tr>
                                                            <td>@index</td>
                                                            <td>@item.Quantity</td>
                                                            <td>@item.Item</td>
                                                            <td>@item.Description</td>
                                                            <td>@item.Hinge</td>
                                                            <td>@item.Finish</td>
                                                            <td>@item.Price</td>
                                                            @* <td>
                                                                <button onclick="DeleteAttachedItem(@item.Id)" class=" btn btn-sm btn-danger"><i class="feather icon-trash" title="Delete Item"></i></button>
                                                            </td> *@
                                                        </tr>
                                                        index++;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="form-actions text-center mb-5">
                <button onclick="javascript:history.goback()" class="width-150 btn btn-primary"><i class="feather icon-arrow-left"></i> Previous</button>
                <a asp-controller="Quotations" asp-action="QuotationsListView" class="width-150 btn btn-outline-primary"><i class="fa fa-check-square-o"></i> Save & Close</a>
                <a asp-controller="Quotations" asp-action="AttachCabinetItems" asp-route-id="@Model.Id" class="width-150 btn btn-primary"><i class="feather icon-paperclip"></i> Attach Items</a>
            </div>
        </div>
    </div>



    <div class="sidebar-detached sidebar-right">
        <div class="sidebar">
            <div class="project-sidebar-content">
                <div class="card mb-1">
                    <div class="card-content collapse show">
                        <div class="card-body height-700">
                            <h2 class="card-title mt-0 text-primary"><span><b>Quote Price</b></span></h2>
                            <div class="form-body">
                                <div class="form-group">
                                    <p class="card-text"><b>Cabinet Price:</b> $@Model.CabinetPrice </p>
                                    <p class="card-text"><b>Delivery Charges:</b> $@Model.DeliveryCharge </p>
                                    <p class="card-text"><b>Installation Fee:</b> $@Model.InstallationFee </p>
                                    <p class="card-text"><b>Tax:</b> $@Model.Tax </p>
                                    <p class="card-text"><b>Comments:</b> @Model.CommentOnPrice</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>