@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager
@model SalesHelper.Models.InterfaceModels.CabinetQuoteInterface
@inject SalesHelper.Data.ApplicationDbContext _context
@inject SalesHelper.Services.AddressService _addressRepo
@{
    var itemsList = _context.QuotationItems.Where(a => a.QuotationId == Model.Id).ToList();
    var index = 1;

    var dealer = _context.Account.Where(a => a.AccountNumber == _signInManager.UserManager.GetUserAsync(User).Result.AccountNumber)
                                 .Include(a => a.BusinessAddress).FirstOrDefault();
}

<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mt-1">Cabinet Quote Estimate Request</h3>
        </div>
    </div>

    <div class="content-body">
        <section class="app-invoice-wrapper">
            <div class="row">
                <div class="col-xl-9 col-md-8 col-12 printable-content">
                    <!-- using a bootstrap card -->
                    <div class="card">
                        <!-- card body -->
                        <div class="card-body p-2">
                            <!-- card-header -->
                            <!-- invoice logo and title -->
                            <div class="invoice-logo-title row py-2">
                                <div class="col-6 d-flex flex-column justify-content-center align-items-start">
                                    <h2 class="text-primary">Estimate Request</h2>
                                </div>
                                @* <div class="col-6 d-flex justify-content-end invoice-logo">
                                <img src="~/images/logo/SalesHelperLogo.png" alt="company-logo" height="46" width="164">
                                </div> *@
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-7 col-xl-4 mb-50">
                                    <span class="invoice-id font-weight-bold">Reference #</span>
                                    <span>@Model.Id</span>
                                </div>
                                <div class="col-md-12 col-lg-5 col-xl-8">
                                    <div class="d-flex align-items-center justify-content-end justify-content-xs-start">
                                        <div class="issue-date pr-2">
                                            <span class="font-weight-bold no-wrap">Request Date: </span>
                                            <span>@DateTime.Now.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- invoice address and contacts -->
                            <div class="row invoice-adress-info">
                                <div class="col-6 mt-1 from-info">
                                    <div class="info-title mb-1">
                                        <span>Dealer</span>
                                    </div>
                                    <div class="company-name mb-1">
                                        <span class="text-muted no-wrap">
                                            <i class="feather icon-user"></i> @dealer!.CompanyName
                                        </span>
                                    </div>
                                    <div class="company-address mb-1">
                                        <span class="text-muted no-wrap">
                                            <i class="feather icon-map-pin"></i> @dealer.BusinessAddress.Address1 <br />
                                            <i class="feather icon-map-pin"></i> @dealer.BusinessAddress.Address2
                                        </span>
                                    </div>
                                    <div class="company-email  mb-1 mb-1">
                                        <span class="text-muted">
                                            <i class="feather icon-mail"></i> @dealer.Email
                                        </span>
                                    </div>
                                    <div class="company-phone  mb-1">
                                        <span class="text-muted"><i class="feather icon-phone"></i> @dealer.MainPhone</span> (Main Phone)<br />
                                        <span class="text-muted"><i class="feather icon-phone"></i> @dealer.Fax</span> (Fax)<br />
                                    </div>
                                </div>
                                <div class="col-6 mt-1 to-info">
                                    <div class="info-title mb-1">
                                        <span>Cabinetry</span>
                                    </div>
                                    <div class="company-name mb-1">
                                        <span class="text-muted no-wrap"><i class="feather icon-user"></i> @Model.VendorIdFk.CompanyName</span>
                                    </div>
                                    <div class="company-name mb-1">
                                        @if (Model.VendorIdFk.BusinessAddressId != null)
                                        {
                                            <span class="text-muted no-wrap">
                                                <i class="feather icon-map-pin"></i> @_addressRepo.Read((int)Model.VendorIdFk.BusinessAddressId!).Address1
                                            </span> <br />
                                            <span class="text-muted no-wrap">
                                                <i class="feather icon-map-pin"></i> @_addressRepo.Read((int)Model.VendorIdFk.BusinessAddressId!).Address2
                                            </span>
                                        }
                                    </div>
                                    <div class="company-email  mb-1 mb-1">
                                        <span class="text-muted">
                                            <i class="feather icon-mail"></i> @Model.VendorIdFk.Email
                                        </span>
                                    </div>
                                    <div class="company-name mb-1">
                                        <span class="text-muted no-wrap"><i class="feather icon-phone"></i> @Model.VendorIdFk.Fax (Fax)</span>
                                    </div>
                                    <div class="company-name mb-1">
                                        @if (Model.isOneColorDesign == true)
                                        {
                                            <span class="text-muted no-wrap"><b>Door Style</b> @Model.DoorStyleForOneColorDesign</span>
                                        }
                                    </div>
                                </div>
                            </div>

                            <!--product details table -->
                            <div class="product-details-table py-2 table-responsive">
                                <div class="info-title mb-1">
                                    <span><strong>Items List</strong></span>
                                </div>
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Qty</th>
                                            <th>Item</th>
                                            <th>Description</th>
                                            @if (Model.isOneColorDesign == false)
                                            {
                                                <th>Door Style</th>
                                            }
                                            <th>Hinge</th>
                                            <th>Finish</th>
                                            <th>Price</th>
                                            <th>Modification</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in itemsList)
                                        {
                                            <tr>
                                                <td class="font-weight-bold">@index</td>
                                                <td>@item.Quantity</td>
                                                <td>@item.Item</td>
                                                <td>@item.Description</td>
                                                @if (Model.isOneColorDesign == false)
                                                {
                                                    <td>@item.DoorStyleName</td>
                                                }
                                                <td>@item.Hinge</td>
                                                <td>@item.Finish</td>
                                                <td>
                                                    @* @item.Price *@
                                                </td>
                                                <td>
                                                    @* @item.Modification *@
                                                </td>
                                            </tr>
                                            index++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- buttons section -->
                <div class="col-xl-3 col-md-4 col-12 action-btns">
                    <div class="card">
                        <div class="card-body p-2">
                            <button onclick="SendEstimateRequest()" class="btn btn-success btn-block mb-1">
                                <i class="feather icon-mail mr-25 common-size"></i> Send Request Estimate
                            </button>
                            <a href="javascript:history.back()" class="btn btn-primary btn-block mb-1">
                                <i class="feather icon-arrow-left mr-25 common-size"></i> Previous
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@* Estimate Request Modal for sending email *@
<div class="modal fade text-left" id="EstiamteRequestModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-sm modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title form-section"><i class="feather icon-file-text"></i> Estimate Request Email Detials</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form" id="EstimateRequestForm" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    <label>To</label>
                    <div class="form-group position-relative has-icon-left">
                        <input id="to" type="text" class="form-control" placeholder="jane.doe@gmail.com" value="@Model.VendorIdFk.Email" readonly />
                        <div class="form-control-position">
                            <i class="feather icon-mail primary"></i>
                        </div>
                    </div>

                    <label>Subject</label>
                    <div class="form-group position-relative has-icon-left">
                        <input id="subject" type="text" class="form-control" placeholder="(e.g) Estimate Request" value="Estimate Request" required />
                        <div class="form-control-position">
                            <i class="feather icon-file-text primary"></i>
                        </div>
                    </div>

                    <label>Body</label>
                    <div class="form-group">
                        <textarea id="body" type="text" class="form-control" placeholder="Type Something here..."
                                  value="Please provide me an estimate for items in attached PDF file." required></textarea>
                    </div>

                    <label>Attachment</label>
                    <div class="form-group position-relative has-icon-left">
                        <input type="file" id="attachment" class="form-control" />
                        <div class="form-control-position">
                            <i class="feather icon-paperclip primary"></i>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal"><i class="feather icon-x"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary"><i class="feather icon-send"></i> Send</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    function SendEstimateRequest() {
        $('#EstiamteRequestModal').modal('show');
    }

    // submit EstiamteRequestForm
    $('#EstimateRequestForm').submit(function (e) {
        e.preventDefault();
        var formData = new FormData();
        formData.append('to', $('#to').val());
        formData.append('subject', $('#subject').val());
        formData.append('body', $('#body').val());
        formData.append('quoteId', @Model.Id);
        formData.append('attachmentName', "Estimate-Request-" + @Model.Id + ".pdf");

        var fileInput = $('#attachment')[0].files[0];
        formData.append('attachment', fileInput);

        $.ajax({
            type: "POST",
            url: "/Quotations/SendCabinetQuoteEstimateRequest",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                $('#EstiamteRequestModal').modal('hide');
                if (response.message == "success") {
                    toastr.success(response.result, 'Success!', { "progressBar": true });
                }
                else {
                    toastr.info(response.result, 'Information!', { "progressBar": true });
                }
            },
            error: function (error) {
                toastr.error(error, 'Error!', { "progressBar": true });
            }
        });
    });
</script>